@import './style.scss';
@import "./animations.scss";
@import "./variables.scss";

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("/imgs/battleground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    animation-name: moveBgc;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;


    #information-container {
        width: 80%;
        height: 80%;
        background-color: $menuBackground;
        border-radius: 5%;

        .userContainer {
            padding-top: 30px;
            position: relative;

            h2 {
                margin-top: 15px;
                font-size: 36px;
                background-clip: text;
                padding-left: 15px;
                background: -webkit-linear-gradient(#000, #bbb);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            h4 {
                margin-top: 15px;
                font-size: 24px;
                background-clip: text;
                padding-left: 15px;
                background: -webkit-linear-gradient(#000, #f00);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            img {
                position: absolute;
                top: 25px;
                right: 0;
                width: 100px;
                height: 100px;
                margin-right: 50px;
            }
        }

        .loader-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            margin-top: 100px;


            p {
                font-weight: bold;
                font-size: 20px;
                margin-bottom: 20px;
            }

            img {
                width: 60px;
            }
        }

        .fight-info {
            margin-top: 50px;
            color: purple;
            font-size: 32px;
            text-align: center;
        }

        .fight-timer {
            color: purple;
            font-size: 30px;
            text-align: center;
            font-weight: bold;
        }
    }
}